<main class="main">
    <div class="page-header-jumbotron">

        <div class="container">

            <h1>Chat</h1>

            <!--<p class="page-header-helper">
                Escríbenos un mensaje con tu consulta y te responderemos lo antes posible.
            </p>-->

        </div>

    </div>

    <div class="page-content">
        <div class="container-small">
            <div class="chat-container">
                <div class="chat-header">
                    <div class="chat-title">
                        <h3>Goku</h3>
                        <span>En línea</span>
                    </div>
                    <div class="form-check form-switch" *ngIf="contextId">
                        <input class="form-check-input" type="checkbox" role="button" id="flexSwitchCheckDefault" [checked]="voiceEnabled" (change)="toggleVoice()">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Voice</label>
                    </div>
                </div>
                <div class="chat-body" #chatBody>
                    <div class="message-list">
                        <ng-container *ngFor="let message of messages" [ngSwitch]="message.type">
                            <ng-container *ngSwitchCase="'Received'">
                                <ng-container [ngTemplateOutlet]="messageReceived"
                                    [ngTemplateOutletContext]="{message}"
                                ></ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Sent'">
                                <ng-container [ngTemplateOutlet]="messageSent"
                                    [ngTemplateOutletContext]="{message}"
                                ></ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="chat-footer justify-content-center" *ngIf="!contextId">
                    <button 
                        class="btn btn-primary"
                        (click)="startConversation()">
                        Start conversation
                    </button>
                </div>
                <div class="chat-footer" *ngIf="contextId">
                    <textarea 
                        placeholder="Escribe tu mensaje aquí"
                        class="form-control"
                        [(ngModel)]="message"
                        (keydown.enter)="onKeyDown($event)"
                        (keyup.enter)="sendText()">
                    </textarea>
                    <button 
                        class="icon-button"
                        [class.red]="recording"
                        (click)="toggleRecording()">
                        <fa-icon [icon]="faMicrophone"></fa-icon>
                    </button>
                </div>
                <div class="d-flex px-2 pb-2" *ngIf="url">
                    <audio controls class="w-100">
                        <source [src]="sanitize(url)" type="audio/wav" />
                    </audio>
                    <button 
                        class="icon-button"
                        (click)="deleteRecording()">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                    <button 
                        class="icon-button"
                        (click)="sendRecording()">
                        <fa-icon [icon]="faPaperPlane"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<ng-template #messageReceived let-message="message">
    <div class="message-item received">
        <div class="message-content">
            <p *ngIf="!message.urlAudioBlob">{{ message.content }}</p>
            <audio *ngIf="message.urlAudioBlob" controls>
                <source [src]="sanitize(message.urlAudioBlob)" type="audio/wav" />
            </audio>
            <span class="message-time">{{ message.date }}</span>
        </div>
    </div>
</ng-template>

<ng-template #messageSent let-message="message">
    <div class="message-item sent">
        <div class="message-content">
            <p *ngIf="!message.urlAudioBlob">{{ message.content }}</p>
            <audio *ngIf="message.urlAudioBlob" controls>
                <source [src]="sanitize(message.urlAudioBlob)" type="audio/wav" />
            </audio>
            <span class="message-time">{{ message.date }}</span>
        </div>
    </div>
</ng-template>