<main class="main">
    <div class="page-header-jumbotron">

    </div>

    <div class="page-content">
        <div class="container-small">

            <h1 class="text-center">Chat</h1>

            <div class="mt-5 chat-container">
                <div class="chat-header">
                    <div class="chat-title">
                        <h3>Goku</h3>
                        <span>En línea</span>
                    </div>
                    <div class="form-check form-switch" *ngIf="contextId">
                        <input class="form-check-input" type="checkbox" role="button" id="flexSwitchCheckDefault" [checked]="voiceEnabled" (change)="toggleVoice()">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Voice</label>
                    </div>
                </div>
                <div class="chat-body" #chatBody>
                    <div class="message-list">
                        <ng-container *ngFor="let message of messages" [ngSwitch]="message.type">
                            <ng-container *ngSwitchCase="'User'">
                                <ng-container [ngTemplateOutlet]="messageUser"
                                    [ngTemplateOutletContext]="{message}"
                                ></ng-container>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Server'">
                                <ng-container [ngTemplateOutlet]="messageServer"
                                    [ngTemplateOutletContext]="{message}"
                                ></ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="chat-footer justify-content-center" *ngIf="!contextId">
                    <button 
                        class="btn btn-outline-primary"
                        (click)="startConversation()">
                        Start conversation
                    </button>
                </div>
                <div class="chat-footer" *ngIf="contextId">
                    <textarea 
                        placeholder="Escribe tu mensaje aquí"
                        class="form-control"
                        [(ngModel)]="message"
                        (keydown.enter)="onKeyDown($event)"
                        (keyup.enter)="sendText()"
                        [disabled]="activityRunning"
                        >
                    </textarea>
                    <button 
                        class="icon-button"
                        [class.active-button]="recording"
                        (click)="toggleRecording()"
                        [disabled]="activityRunning">
                        <fa-icon [icon]="faMicrophone"></fa-icon>
                    </button>
                </div>
                <div class="recorded-audio" *ngIf="url">
                    <app-audio-player [src]="url"></app-audio-player>
                    <button 
                        class="icon-button"
                        (click)="deleteRecording()">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                    <button 
                        class="icon-button"
                        (click)="sendRecording()">
                        <fa-icon [icon]="faPaperPlane"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>

<ng-template #messageUser let-message="message">
    <div class="message-item sent">
        <ng-container *ngIf="isTextConversation(message)">
            <div class="message-content">
                <p class="text-white">{{ message.content }}</p>
            </div>
        </ng-container>
        <ng-container *ngIf="isAudioConversation(message)">
            <div class="audio-content">
                <app-audio-player *ngIf="message.content" [src]="message.content"></app-audio-player>
            </div>
        </ng-container>
        <span class="message-time">{{ message.date }}</span>
    </div>
</ng-template>

<ng-template #messageServer let-message="message">
    <div class="message-item received">
        <ng-container *ngIf="isTextConversation(message)">
            <div class="message-content">
                <p class="text-white">{{ message.content }}</p>
            </div>
        </ng-container>
        <ng-container *ngIf="isAudioConversation(message)">
            <div class="audio-content">
                <app-audio-player *ngIf="message.content" [src]="message.content"></app-audio-player>
            </div>
        </ng-container>
        <ng-container *ngIf="isTextActivity(message)">
            <div class="message-content">
                <p class="text-white">{{ message.content.flashcard.sentence }}</p>
                <div class="d-flex flash-card-options">
                    <ng-container *ngFor="let option of message.content.flashcard.options">
                        <button
                            type="button" 
                            class="btn btn-primary"
                            (click)="answerActivity(option)"
                            [disabled]="!message.content.active">
                            {{ option }}
                        </button>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <span class="message-time">{{ message.date }}</span>
    </div>
</ng-template>