<main class="main">

    <div class="page-header-jumbotron">

        

    </div>

    <div class="page-content">
        <div class="container-small">

            <div class="mx-auto col-md-8 col-12">

                <h1 class="text-center">Registro</h1>

                <form class="mt-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="firstName" class="form-label">Nombre</label>
                        <input type="text" name="firstName" formControlName="firstName"
                        class="form-control">
                        <small class="error" *ngIf="firstName.touched && firstName.errors">
                            El nombre no es válido
                        </small>
                    </div>

                    <div class="form-group mt-4">
                        <label for="lastName" class="form-label">Apellido</label>
                        <input type="text" name="lastName" formControlName="lastName"
                        class="form-control">
                        <small class="error" *ngIf="lastName.touched && lastName.errors">
                            El apellido no es válido
                        </small>
                    </div>
                    
                    <div class="form-group mt-4">
                        <label for="email" class="form-label">Correo electrónico</label>
                        <input type="text" name="email" formControlName="email"
                        class="form-control">
                        <small class="error" *ngIf="email.touched && email.errors">
                            El email no es válido
                        </small>
                    </div>

                    <div class="form-group mt-4">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" name="password" formControlName="password"
                        class="form-control" [attr.maxLength]="12">
                        <small class="error" *ngIf="password.touched && password.errors">
                            La contraseña debe contener al menos 8 carácteres
                        </small>
                    </div>

                    <div class="mt-4">
                        <button class="btn btn-outline-primary w-100" type="submit" [disabled]="registerForm.invalid">Registro</button>
                    </div>

                </form>

            </div>

        </div>

    </div>
</main>